<?xml version='1.0' encoding='utf-8'?>
<widget id="com.exemple.quizzpokemon" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>QuizzPokemon</name>
    <description>Quiz Pokémon hybride avec Cordova</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <content src="index.html" />

    <!-- Ajoute ça pour autoriser l'accès à l'API Pokémon -->
    <access origin="*" />
    <allow-navigation href="*" />

    <!-- Préférences recommandées -->
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="AutoHideSplashScreen" value="true" />

</widget>
